.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;

  &__sidebar {
    width: 300px;
  }

  &__leaderboards {
   flex-grow: 1;
   padding-left: 30px;
  }

}


