@import "./../../common/css/variables.less";

.category-button {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  color: black;
  border: none;
  white-space: nowrap;
  height: 100%;
  text-decoration: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 3px 10px;
  background-color: @color-light-2;
  border-radius: 5px;

  @media @screen-gt-m {
    display: block;
    margin-right: 20px;
    cursor: pointer;
    padding: 0;
    border-radius: 0;
    color: @color-noactive-button;
    background-color: transparent;
  }

  &_active {
    color: white;
    background-color: @color-primary;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: background-color;

    @media @screen-gt-m {
      color: @color-primary;
      border-bottom: 2px solid @color-primary;
    }
  }
}

.category-navigation {
  display: flex;
  height: 100%;

  @media @screen-gt-m {
    width: 100%;
    flex-wrap: wrap;
  }
}
