.developer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__icon {
    font-size: 30px;
    margin-right: 20px;
    width: 40px;

    &_first-place {
      color: gold;
    }

    &_second-place {
      color: silver;
    }

    &_third-place {
      color: #cd7f32;
    }

  }

  &__position-number {
      width: 100%;
      text-align: center;
  }

  &__container {
    position: relative;
    width: 700px;
    height: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #ededed;
  }

  &__paint-count {
    position: absolute;
    left: 0;
    top: 0px;
    height: 100%;
    background-color: #0ac789;
    z-index: 2;
  }

  &__count {
    flex-grow: 1;
    text-align: right;
  }

  &__info {
    z-index: 2;
    display: flex;
    padding: 0 15px 0 15px;
    width: 100%;
  }

  &__avatar {
    font-size: 20px;
  }

  &__name {
    margin-left: 15px; 
  }

}
